{{if eq .Auth "cookie"}}import { useEffect, useMemo, type ReactNode } from "react";
{{else}}import { useMemo, type ReactNode } from "react";
{{end}}{{if eq .UI "mui"}}import { CssBaseline, ThemeProvider } from "@mui/material";
{{end}}
import { {{if eq .Auth "cookie"}}bootstrapCSRF, {{end}}ApiClientContext, createAppClient } from "../api/client";
{{if eq .UI "mui"}}import { theme } from "../theme";
{{end}}
export function AppProviders({ children }: { children: ReactNode }) {
  const client = useMemo(() => createAppClient(), []);
{{- if eq .Auth "cookie"}}
  useEffect(() => {
    void bootstrapCSRF();
  }, []);
{{- end}}
{{if eq .UI "mui"}}  return (
    <ThemeProvider theme={theme}>
      <CssBaseline />
      <ApiClientContext.Provider value={client}>{children}</ApiClientContext.Provider>
    </ThemeProvider>
  );
{{else}}  return <ApiClientContext.Provider value={client}>{children}</ApiClientContext.Provider>;
{{end}}}
